@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: 0;
  scroll-behavior: smooth;
  transition: all ease-in-out;
  -webkit-transition: all ease-in-out;
  -moz-transition: all ease-in-out;
  -ms-transition: all ease-in-out;
  -o-transition: all ease-in-out;
}

html, body{
  width: 100%;
  height: 100vh;
  max-width: 2000px;
  margin: auto;
  font-family: "Lexend", sans-serif;
}


::-webkit-scrollbar {width: 0.2rem;}
  
::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: #F98128;
    transition: all 0.4s ease-in-out;
}

::-webkit-scrollbar-track {
    background-color: #f9f9f9;
}
.container {width: 90%;margin: auto; }

.hero{
  background-image: url(./assets/images/2115011_7800\ 4.svg);
  width: 100%;

}

